.form-levels {
  .section {
    .drop-down-select {
      .demo-options {
        width: calc(100% - 3.6rem);
        left: 1.8rem;
      }
      &.error-mode {
        padding-bottom: 0;
        .demo-select {
          border: 1px solid $clrErr;
        }
        .error-note {
          display: block;
        }
      }
      .error-note {
        display: none;
        font-family: Assistant-semiBold, Arial, Helvetica, sans-serif;
        text-align: right;
        padding: 0 8px 0px 0px;
        font-size: 0.875rem;
        height: 1rem;
        color: $clrErr;
      }
    }
  }
}
