.header {
  .top-search {
    height: 40px;
    color: white;
    background: linear-gradient(to right, #0fddef, #0268c1 35.35%, #0268c1 0%, #0268c1);
}
.nav-bar {
    height: 55px;
    background-color: white;
    color: #0268c1;
    box-shadow: 0px 5px 30px 0px #eef3f8;
  }
}
